@model IEnumerable<FlagExplorerApp.Models.Country>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-md-left">
    <h4>Countries Flags</h4>
</div>


<div class="form-horizontal">
    <hr />
    <div class="form-group">

        <table class="table table-responsive" style="width:100px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Flags)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name.Common)
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Home", new { countryname = item.Name.Common })">

                            <img src="@item.Flags.Svg" alt="@item.Name.Common" width="200" height="100" />
                        </a>

                    </td>
                </tr>
            }
        </table>
    </div>
</div>